OS_APPLICATION_CREDENTIAL_CLIENT_ID=your-client-id
OS_APPLICATION_CREDENTIAL_CLIENT_SECRET=your-client-secret
BARBICAN_URL=http://your-barbican-url
KV_UR=redis://localhost:6379 # for use with docker compose